.App {
  text-align: center;
}

.draw {
  margin-top: 2.3em;
  color: red;
  font-size: 64px;
}

nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.options {
  padding: 1em 10em;
  background-color: #edb782;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bolder;
  color: black;
  margin-right: 2em;
}

.btn {
  margin-top: 3em;
  padding: 1em;
  background-color: green;
  border-radius: 5px;
  border: none;
  color: white;
  width: 150px;
  font-size: 20px;
}

.btn:active {
  background-color: #4CAF50;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

